/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;        
}
body {
    background:#ECEEF1; 
    font-size: 12px;
    line-height: 1.5;
    font-family: "AvenirNext", "Avenir","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: left
}

a {
    text-decoration: none;
}


.header {
    background-color: inherit;
    position: relative;
    width: 100%;
    height: 48px; 
}

.header-text {
    position: absolute;
    right: 144px;
    top: 0;
    text-align: right;
}

.header-button {
    background-color: blue;
    margin-right: 3vw;
    position: relative;
    border-radius: 10%;
    float: right;
    width: 100px;
    height: 40px;
    top: 0;
    right: 0;
    color: white;
}

.title-img {
    width: 118px;
    height: 50px;
}

.title-img-container {
    position: relative;
    padding-top: 22px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.three-logos {
    position: relative;
    left: 25%;
    height: 50px;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.logo-icon {
    width: 25px;
    height: 25px;
    display: inline-block;
}

.logo-text {
    padding-right: 10px;

}

.form-container {
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.main-form {
    background-color: white;
    border: 1px solid gray;
    border-radius: 2%;
    position: relative;
    height: 640px;
    width: 350px;
    padding: 20px;
}

.form-title {
    text-align: center;
    font-size: 18px;
}

.form-input {
    width: 100%;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: 1px solid grey;
    border-radius: 4px;
    cursor: pointer;
}

.container {
    width: 100%;
    text-align: center;
}

.form-button {
    position: relative;
    width: 80%;
}

.warning-label {
    position: relative;
    text-align: left;
    width: 100%;
    font-size: .7em;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-link {

    height: 2em;
    width: 100vw;
    text-align: center;
    width: 100%;
}

.form-sub-header {
    height: 2em;
    text-align: center;
    font-size: 12px;
    width: 1
}

.create-disclaimer {
    font-style: italic;
    height: 100%;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
}

.footer {
    height: auto;
    width: 80vw;
    font-size: 12px;
    text-align: center;
}
